.header__nav_genres > div > button {
    margin: 0;
    padding: 0;
    width: 0;
}

.header__nav_genres_typography {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 145px;
    gap: 8px;
    justify-content: center;
    text-align: center;
}
