footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5% 10%;
    box-sizing: border-box;
}

.footer {
    background-color: #FF5A6F;
}

.footer__dark {
    background-color: #323639;
}

footer li, footer li p, footer p {
    color: white;
}

.footer__container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.footer__container ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.footer__copy_information {
    margin: 10px 0;
}
