extends layout
block content
    div
        p Пароль вашого облікового запису на #{domainName} успішно змінено.
        br
        p Якщо ви не змінювали пароль, зверніться до нашої служби технічної підтримки.
