extends layout
block content
    div
        p Цей лист прийшов до вас, оскільки ми отримали запит на відновлення пароля до вашого профілю.
        br
        p Щоб змінити пароль, будь ласка, перейдіть за посиланням: #{domainName}/forgotPassword?forgot=#{forgot}&clientKey=#{clientKey}
        br
        p Якщо відновлення пароля запросив хтось інший, просто ігноруйте цей лист: дані для входу у профіль залишаться без змін.
    div
        p Зверніть увагу, час дії повідомлення триває #{forgotTime}.
